<div class="container">
  <form [formGroup]="CartaoForm"  (ngSubmit)="this[EventValue]()">
      <h3>Cartão - Pagamentos</h3>
      <div class="row">
      <table class="table">
      <tr>
        <td>Nome do Titular</td>
        <td>
          <input type="hidden" formControlName="pagamentoId">
          <input type="text" formControlName="nomeTitular">
          <div *ngIf="submitted && CartaoForm.controls.nomeTitular.errors" class="text-danger">
            <div *ngIf="CartaoForm.controls.nomeTitular.errors.required">O nome é obrigatório</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Número do Cartão</td>
        <td><input type="text" formControlName="numeroCartao">
          <div *ngIf="submitted && CartaoForm.controls.numeroCartao.errors" class="text-danger">
            <div *ngIf="CartaoForm.controls.numeroCartao.errors.required">O número do cartão é obrigatório</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Data de Expiração</td>
        <td>
          <input type="text" formControlName="dataExpiracao">
          <div *ngIf="submitted && CartaoForm.controls.dataExpiracao.errors" class="text-danger">
            <div *ngIf="CartaoForm.controls.dataExpiracao.errors.required">Informe a data de expiração</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>CVV</td>
        <td>
          <input type="text" formControlName="cvv">
          <div *ngIf="submitted && CartaoForm.controls.cvv.errors" class="text-danger">
            <div *ngIf="CartaoForm.controls.cvv.errors.required">O CVV é obrigatório</div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-primary">{{EventValue}}</button>
        </td>
      </tr>
    </table>
    </div>
 </form>

 <div class="row">
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Nome</td>
      <td>No. Cartão</td>
      <td>Data Expiração</td>
      <td>CVV</td>
      <td>Edita</td>
      <td>Deleta</td>
    </tr>
    <tr *ngFor="let dado of data">
      <td>{{dado.pagamentoId}}</td>
      <td>{{dado.nomeTitular}}</td>
      <td>{{dado.numeroCartao}}</td>
      <td>{{dado.dataExpiracao}}</td>
      <td>{{dado.cvv}}</td>
      <td><a (click)="EditData(dado)" class="btn btn-warning">Edita</a></td>
      <td><a (click)="deleteData(dado.pagamentoId)" class="btn btn-danger">Deleta</a></td>
    </tr>
  </table>

</div>
</div>
